body {
    font-family: Verdana, serif;
}

.header{
    display: inline-block;
}

.planner{
    clear: both;
    padding: 0px;
    margin: 0px;
}

.column{
    display: block;
    float: left;
    border:2px solid #000;
    border-radius: 8px;
    width: 30%;
    height: 500px;
    margin: 1% 0 1% 1.6%;
    padding: 5px;
}

@media only screen and (max-width: 500px) {
    .col { margin: 1% 0 1% 0%;}
    .column { width: 100%; }
}

/* group the elements before and after the columns for smaller windows */
.group:before,
.group:after{
    content:"";
    display:table;
}
.group:after{
    clear:both;
}
.group{
    zoom:1;  /*optional for IE 6/7 */
}

/* modal dialog */
.modal {
    display: none;
    position: fixed;
    z-index: 1; /* always on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* enable scroll if needed */
    background-color: rgb(0,0,0); /* fallback color */
    background-color: rgba(0,0,0,0.4); /* default color */
}

/* modal dialog content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* left and right space from dialog to browser window */
}

.modal-text{
    width:100%;
    height:100%;
    resize:none;
}

/* close Button  of modal dialog*/
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#taskBox{
    display:none;
    border:2px solid #000;
    border-radius: 8px;
    width:80%;
    height:20%;
    margin: 0 auto;
}

.addTaskBox{
    border:2px solid #aaaaaa;
    border-radius: 8px;
    width:80%;
    height:20%;
    margin: 0 auto;
}
.plusCircle{
    color:#aaaaaa;
    border:2px solid #aaaaaa;
    border-radius: 50%;
    width:2em;
    height:2em;
    cursor:pointer;
    margin:0 auto;
    text-align: center;
}

